$red: #c10016;

@mixin disable-user-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  background: $red;
  color: white;
  font-size: 16px;
  touch-action: manipulation;
}

#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.level.hidden {
  display: none;
}

.button {
  border-radius: 20%;
  height: 3em;
  width: 3em;
  background: #fff;
  color: $red;
  @include disable-user-select;
}

.text-button {
  color: white;
  background: $red;
  border-radius: 0.6em;
  padding: 1em;
}

.button,
.text-button {
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: bold;
  transition: opacity 0.08s;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 40%;
  }

  &:disabled {
    opacity: 50%;
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;

  ul {
    padding: 1em 0;
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
  }

  li {
    margin: 0 0.2em;
  }
}

.level {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .nav {
    display: flex;
    margin: 1em 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    .button {
      line-height: 0;
      margin: 0 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      span {
        font-size: 1.6em;
      }
    }
  }

  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 0 1em;
    position: relative;

    .card,
    .back-card {
      background: white;
      box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.35);
      flex-direction: column;
      padding: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 1em;
      height: 100%;
      width: 100%;

      color: $red;
      text-transform: uppercase;
      font-weight: bold;

      p {
        // font-size: 1.5em;
      }

      transition: transform 0.3s ease;

      &.offscreen {
        transform: translateX(120vw);
      }
    }

    .back-card {
      position: absolute;
      z-index: -1;
    }
  }
}

.overlay {
  padding: 5vw 0;
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .modal {
    width: 90%;
    border-radius: 1em;
    max-width: 800px;
    margin: auto;
    background: white;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.35);
    color: $red;
    padding: 2em;
    position: relative;

    a {
      color: $red;
      font-weight: bold;
    }

    .close {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      //color: white;
      //background: $red;
      font-size: 1.6em;
      height: auto;
      width: auto;
    }
  }
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.35);
  color: white;
  background: $red;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  @include disable-user-select;

  .game-title {
    text-decoration: underline;
  }

  p {
    font-size: inherit;
    font-weight: bold;
  }

  &.open {
    transform: translateY(-150vh);
  }
}
